body {
    font-family: 'Montserrat';
    width: 100%;
    margin: 0px;
}
#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-items: space-between;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background-color: rgba(255, 255, 255, .8);
    z-index: 1;
}
.navbarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 10px;
    width: 100%;
    font-family: 'Montserrat';
}
.left {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #595959;
    letter-spacing: .2em;
    width: 90%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 30px;
    overflow: hidden;
}
li {
    float: left;
    display: block;
    text-align: center;
    color: #595959;
    padding: 14px 16px;
}
.right {
    display: flex;
    float: right;
    font-size: 18px;
    font-weight: 900;
    width: 80%;
    color: #595959;
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
.right li a:link {
    color: #595959;
    text-decoration: none;
}
.right li a:visited {
    color: #1C2399;
    text-decoration: none;
}
.right li a:focus {
    color: #568CB3;
}
.right li a:hover {
    color: #568CB3;
}
.right li a:active {
    color: #568CB3;
}

.column {
    width: 100%;
    display: inline-block;
    padding-top: 100px;
    
}
.columnText {
    margin-left: 100px;
    margin-right: 100px;
}

/*body styling*/
h1 {
    font-size: 46px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    line-height: 1.6;
}
h5 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Raleway';
    line-height: 1.6;
}
p {
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Raleway';
}
h4 {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 800;
}

/* A little about me */
.aboutMe {
    padding-bottom: 100px;
    padding-top: 100px;
}
.link {
    color: #568CB3;
    text-decoration: none;
}
.link:hover {
    color:#FFAFAD;
    text-decoration: none;
}

/* My values */
.values {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color:rgba(210, 237, 243, 0.4);
}
.valueText{
    padding-left: 100px;
    padding-right: 100px;
    /* use flexbox to add padding */
}
.value1, .value2, .value3, .value4 {
    padding-bottom: 15px;
}
span {
    font-size: 30px;
    padding-right: 6px;
}

/* testimonial */
.testimonials {
    padding-top: 60px;
    padding-bottom: 100px;
}
.testimonialsText {
    padding-left: 100px;
    padding-right: 100px;
}

/* footer */
.aboutCardsContainer {
    padding-top: 35px;
    padding-bottom: 80px;
    background-color: #F5FDFF;
}
.aboutCards {

    transform: translate(6%, 0%);
}
.more {
    text-align: center;
    font-weight: 900;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 40px;
    /* transform: translate(7%,0); */
    align-items: center;
    justify-content: center;
}
.contain1, .contain2, .contain3 {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.photo1, .photo2, .photo3 {
    display: block;
    height: auto;
    width: 60%;
    /* justify-content: space-evenly;
    height: auto; */
    margin-top: 20px;
    /* margin-bottom: 60px; */
    border-radius: 15px;
}
.overlay {
    /* display: flex; */
    width: 60%;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .85);
    overflow: hidden;
    height: 0;
    margin-top: 20px;
    border-radius: 15px;
    transitions: .5s ease;
    /* justify-content: center;
    align-items: center; */
}
.overlay:hover {
    align-items: center;
}

.contain1:hover .overlay {
    bottom: 0;
    height: 94%;
}
.contain2:hover .overlay {
    bottom: 0;
    height: 94%;
}
.contain3:hover .overlay {
    bottom: 0;
    height: 94%;
}
.text {
    font-family: 'Raleway';
    white-space: nowrap; 
  color: black;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*get in touch*/
.connect {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-top: 40px;
    width: 100%;
    background-color:#D2EDF3;
}
.icon {
    width: 1.5%;
    height: 1.5%;
    margin-left: 10px;
}
.icon2 {
    width: 40%;
    height: 40%;
}
.column2 {
    flex: 33.3%;
    padding: 60px;
    justify-content: space-between;
}
.row {
    display: flex;
    width: 70%;
    height: 70%;
    align-items: center;
    margin-left: 15%;
}
.connect2 {
    width: 20%;
    height: 20%;
    align-items: center;
}
.moveUp {
    margin-top: -50px;
}


.icon2:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
i {
    border: 1px solid black;
}
