body {
    background-color: #fafafa;
    /* display: flex; */
    min-height: 100vh;
    min-width: 375px;
    width: 100%;
    /* max-width: 3000px; */
    font-family: 'Raleway', sans-serif;
}
/*overall page styling*/
.container {
    width: 100%; 
}

/*typography*/
    /*headline text*/
h1 {
    font-size: 46px;
    font-family: 'Montserrat';
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 1.6;
    margin: .67em 0;
}
    /*p text under headline*/
h2 {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    letter-spacing: .1em;
}
    /*card headline text*/
h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    letter-spacing: .1em;
}
p {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: .1em;
}



/* RESPONSIVE NAVIGATION */
.nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
  }
.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
/* NAVBAR GRADBAR KEYFRAME ANIMATIONS */
@-webkit-keyframes gradbar {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}
@-moz-keyframes gradbar {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}
@keyframes gradbar {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

  /*responsive navbar attempt #2*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 70px;
    overflow: hidden;
    z-index: 1000;
    /* margin-right: 150px; */
  }
.navItemsContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}
.mobile-nav {
    display: none;
}
.navbar ul {
    list-style: none;
    display: grid; /*DISPLAY FLEX?*/
    grid-template-columns: repeat(4,1fr);
    justify-self: end;
    width: 300px;
  }
.nav-item a {
    color: #c0c0c0;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    letter-spacing: 0.05em;
    text-align: center;
  }
.nav-item a:hover {
    color: #191b1e;
  }
.nav-item.nav-active:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #216BA3;
    transition: width .3s;
}
.nav-item.nav-active a:hover   {
    color: #191b1e;
}
.nav-item.nav-active a:hover::after {
    width: 100%;
}


/*logo is a placeholder for now*/
.logo a {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.15em;
    padding-left: 150px;
    color: #595959;
  }
  /* RESPONSIVE NAV ATTEMPT #1 - MOBILE MENU & ANIMATION */
.menu-toggle {
    width: 34px;
    height: 34px;
    justify-self: end;
    margin-right: 25px;
    display: none;
    color: #595959;
  }
.menu-toggle:hover{
    cursor: pointer;
  }
  
/*WORK-SECTION BANNER HEADING*/
.headingContainer {
    /* width: 100%; */
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(210, 237, 243, 0.4);
}
.heading {
   text-align: center;
}
.myh1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -25px;
}
.nameLink {
    display: inline-block;
    border-radius: 0px;
    opacity: 1;
    color: black;
    font-size: 46px;
    font-family: 'Montserrat';
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 1.6;
    text-decoration: none;
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
}
.nameLink:hover {
    background-color: none;
    background-image: none;
    color: white;
    border-radius: 0px;
    opacity: 1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Montserrat';
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 1.6;
    text-decoration: none;
}
.nameLink:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #216BA3;
    transition: width .3s;
}
.nameLink:hover::after {
    width: 100%;
}
.outline {
    display: inline-block;
    color: white;
    border-radius: 0px;
    opacity: 1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Montserrat';
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 1.6;
    text-decoration: none;
}
.outline:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #216BA3;
    transition: width .3s;
}
.outline:hover {
    color: #191b1e;
    text-shadow: none;
}
.outline:hover::after {
    width: 100%;
}
.explain {
    text-align: center;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 20px;
    padding-left: 20px;
    /* padding-bottom: 30px; */
}


/*ABOUT-SECTION*/
.aboutMeContainer {
    background-color: #F1EFE2;
}


/* WORK-SECTION PROJECT CARDS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.section {
    padding-top: 125px;
    background-color: #fafafa;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
}
.works-section {
    padding-bottom: 120px;
    text-align: center;
}
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-card-container {
    padding: 15px;
    padding-bottom: 25px;
}
.work-card {
    width: 410px;
    background-color: #fff;
    box-shadow:
    0 1.8px 1.2px rgba(0,0,0,0.034),
    0 5.7px 4.3px rgba(0, 0, 0, 0.048),
    0 6.5px 4px rgba(0, 0, 0, 0.06),
    0 16.3px 11.9px rgba(0, 0, 0, 0.072),
    0 20.8px 12.4px rgba(0, 0, 0, 0.086),
    0 40px 20px rgba(0, 0, 0, 0.09);
    color: #222;
    margin: 20px;
    border-radius: 3px;
    overflow: hidden;
}
    /*CARD HOVER HERE*/
.small img {
    transition-duration: 1s;
    margin: 0 auto;
    display: block;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
}
.small:hover img {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    z-index: 0;
}
.small:active img {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    z-index: 0;
}
.small .card-title {
    text-decoration: none;
}
/*LOOK HERE CHERYL! 
issues: 
only hovering h3 turns on border-bottom animation - hovering over other parts of card doesn't turn on animation
if you hover over image, border-bottom animation doesn't work*/  
.card-title {
    text-transform: uppercase; 
    padding-top: 12px;
    font-weight: 900;
    font-size: 26px;
}
.card-title:hover {
    text-decoration: none;
}
.card-title:after{
    content: '';
    display: block;
    width: .8rem;
    height: 3px;
    background: #216BA3;
    transition: width .3s;
}
.card-title:hover::after {
    width: 8rem;
    /* fit-content(30vw); */
}
.card-title:active::after {
    width: 8rem;
    /* fit-content(30vw); */
}
/*CHERYL EDIT WIDTH ABOVE TO FIT-CONTENT SOMEHOW*/

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0; 
}
.work-card-image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
.work-card-info {
    position: relative;
    overflow: hidden;
    padding: 48px 25px 30px;
    text-align: left;
}
.work-card-category {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    height: 275px;
}
.text-block-2 {
    line-height: 20px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase; 
}
.work-card-header {
    position: relative;
    z-index: 1;
    margin-top: 8px;
}
.work-card-description {
    position: relative;
    z-index: 1;
    padding-top: 26px;
    margin-bottom: 32px;
    color: #777;
    font-weight: 300;
    font-size: 16px;
}
.work-card-back-text {
    position: absolute;
    left: 44%;
    z-index: 0;
    top: 100px;
    color: rgba(0,0,0,0.03);
    font-size: 80px;
    line-height: 96px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/*CONNECT-SECTION FOOTER*/
.footerContainer {
    background-color: #bad9ee;
}

/*Galaxy S5: 360x640, iPhoneX: 375x812, iPhone 6/7 Plus: 414x736, iPhone: 375x667, Pixel 2XL: 411x823, Pixel 2: 411x731*/
@media (max-width: 479px) { /*MOBILE WIDTH IS WRONG*/
    h1 {
        font-size: 30px;
        font-family: 'Montserrat';
        font-weight: 900;
        letter-spacing: .1em;
        line-height: 1.2;
        margin: .67em 0;
    }
        /*p text under headline*/
    h2 {
        font-size: 28px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.6;
        letter-spacing: .1em;
    }
        /*card headline text*/
    h3 {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.6;
        letter-spacing: .1em;
    }
    p {
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.6;
        letter-spacing: .1em;
    }
    body {
        width: 100%;
    }
    .container { 
        width: 100%;
    }
    .nav-wrapper {
        width: 100%;
    }
    .navbar {
        margin-right: 0;
        padding: 0;
    }
    .logo {
        display: inline-block;
        width: 100px;
        font-size: 20px;
        margin-top: 10px;
        margin-left: -70px;
        transform: translateY(-6px);
    }
    .headingContainer {
        padding-right: 0;
        padding-left: 0;
        padding-top: 40px;
        background-color: #D2EDF3;
        padding-bottom: 20px;
        max-width: 479px;
    }
    .heading, .myh1 {
        text-align: center;
    }
    .nameLink {
        font-size: 30px;
    }
    .myh1 {
        padding-top: 10px;
    }
    .explain {
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: -20px;
        padding-bottom: 20px;
        font-size: 17px;
    }
    .section {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .works-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .card-container {
        padding-left: 0px;
        width: 100%;
    }
    .work-card-container {
        width: 90%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 5px;
        align-content: center;
    }
    .work-card {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5;
    }
    .work-card-info {
        padding-left: 30px;
        padding-right: 0px;
        margin-top: -20px;
    }
    img {
        width: 94%;
        height: auto;
    }
    .work-card-category {
        margin-left: -10px;
        margin-top: 15px;
    }
    .text-block-2 {
        padding-bottom: 4px;
        font-size: 10px;
    }
    .card-title {
        font-size: 22px;
        line-height: 1.5em;
    }
/*CHERYL ADJUST THE UNDERLINE LENGTH*/


    .work-card-description {
        padding-top: 50px;
        padding-right: 20px;
        width: 100%;
        font-size: 15px;
    }
    .work-card-back-text {
        top: 60px;
        transform: translateY(40px);
    }
}
/* MOBILE MENU & ANIMATION */
@media only screen and (max-width: 720px) { 
    .menu-toggle {
        justify-self: end;
        padding-right: -50px;
        display: inline-block;
        width: 34px;
        height: 34px;
    }
    .navItemsContainer {
        display: none;
        width: 100%;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-nav-visible {
        display: block;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        /* color: #595959; */
    }
}
  
  
/*iPad & iPad Pro: 1024x1366*/
@media screen and (min-width: 415px) and (max-width: 1000px) {
    .heading {
        font-size: 34px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        padding-right: 40px;
        margin-left: -80px;
        margin-right: 30px;
        height: 70px;
        width: 100%;
        align-items: center;
    }
    .logo {
        margin-top: 0;
        margin-left: -10px;
    }
    .navbar-toggle {
        display: none;
    }
    .menu-toggle {
        justify-self: end;
        margin-right: -40px;
        display: inherit;
    }
    .navItemsContainer {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-nav-visible {
        display: block;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        /* color: #595959; */
    }

    .headingContainer {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .explain {
        margin: 0; /*check this*/
        padding-right: 0; /*check this*/
        padding-left: 0;
    }
    .section {
        padding-top: 50px;
        padding: 0; /*check this*/
    }

    .body {
        width: 100%;
        margin: 0px;
    }
    .container {
        display: inline-block;
        width: 100%;
    }
    .works {
        margin-top: -12px;
        margin-bottom:40px;
    }
    .work-card-container {
        display: flex;
        -webkit-box-flex: 0;
        flex: 0 auto;
        /* width: 92%; */
        height: auto;
    }
    .work-card-info {
        padding: 60px 32px 8px;
    }
    .work-card-category {
        margin-bottom: 4px;
        font-size: 13px;
        letter-spacing: 3px;
    }
    .underline {
        display: none;
    }
    .work-card-header {
        margin-top: 0px;
        margin-bottom: 8px;
        font-size: 22px;
    }
    .work-card-description {
        margin-top: 12px;
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .work-card-back-text {
        top: 24px;
        font-size: 84px;
    }
}